
extends layout

block append vars
  - bodyclass = 'article-detail'

block prepend title
  | #{ page.title + ' - '}

block header
  include author
  a(href='/')
    img(src='/img/yours_logo.svg')
  h1= page.title
  p.author
    mixin author(page.metadata.author)
    br
    span= moment.utc(page.metadata.date).format('MMMM DD, YYYY')

block content
  article.article
    section.content!= typogr(page.html).typogrify()

block prepend footer
  hr
  div.nav
    a(href=contents.index.url) « Yours Engineering
