- if (!item && post) {
-   var item = post;
-   var context = 'post';
- }
- if (!item && comment) {
-   var item = comment;
-   var context = 'comment';
- }
  

.left.floated(style="width: 3em; text-align: center;")
  .ui.mini.statistic
    a.label.tooltipped(data-intent="tip", data-from="#{user ? user._id : undefined }", data-for="#{item._author._id}", data-context="#{context}", data-target="#{item._id}", title="Donate 100 bits to #{item._author.username} (configurable in settings)")
      i.add.up.icon
    .value(style="font-size: 1em;")
      i.icon.bitcoin
      |  
      span(data-bind="#{item._id}") #{item && item.score || 0}
    .label tips
