extends layouts/default

block content
  - var post = comment._post

  .ui.cards
    .ui.fluid.card
      .content
        img.right.floated.mini.ui.avatar(src="https://thecatapi.com/api/images/get?format=src&type=gif")
        .meta
          a(href="/posts/#{post._id}#comment#{comment._id}")
            abbr.date.tooltipped(title="#{ moment( comment.created ).format('MMMM Do YYYY, h:mm:ss a') }") #{ moment( comment.created ).fromNow() }
          | by 
          a.user(href="/people/#{comment._author.slug}") #{comment._author.username}
        .description !{ markdown(comment.content || '') }
      .extra.content
        a(href="/comments/#{comment._id}#comments")
          i.comment.icon
          | #{comment.stats.comments} comments
        a(href="/comments/#{comment._id}#comment", data-intent="comment")
          i.reply.icon
          | reply
  
  .ui.cards
    for subcomment in comments
      .ui.fluid.card(style="margin-left: 2.5em;")
        .content
          img.right.floated.mini.ui.avatar(src="https://thecatapi.com/api/images/get?format=src&type=gif")
          .meta
            a(href="/posts/#{post._id}#comment#{subcomment._id}")
              abbr.date.tooltipped(title="#{ moment( subcomment.created ).format('MMMM Do YYYY, h:mm:ss a') }") #{ moment( subcomment.created ).fromNow() }
            | by 
            a.user(href="/people/#{subcomment._author.slug}") #{subcomment._author.username}
          .description !{ markdown(subcomment.content || '') }
        .extra.content
          a(href="/comments/#{subcomment._id}#comments")
            i.comment.icon
            | #{subcomment.stats.comments} comments
          a(href="/comments/#{subcomment._id}#comment")
            i.reply.icon
            | reply

  .ui.cards
    .ui.fluid.card
      .content
        if (user)
          include forms/add-comment
        else
          p For now, we require a user account to participate.
          include forms/register
