extends layouts/default

block content
  - var post = comment._post

  .ui.cards
    .ui.fluid.card
      .content
        - var item = comment
        - var context = 'comment';
        include partials/influence
        img.right.floated.mini.ui.avatar(src="https://thecatapi.com/api/images/get?format=src&type=gif")
        .meta
          a(href="/posts/#{post._id}#comment#{comment._id}")
            abbr.date.tooltipped(title="#{ moment( comment.created ).format('MMMM Do YYYY, h:mm:ss a') }") #{ moment( comment.created ).fromNow() }
          | by 
          a.user(href="/people/#{comment._author.slug}") #{comment._author.username}
          if (comment.hashcash)
            | at 
            abbr.tooltipped(title="We require a proof-of-work for posting content on Converse.  Your computer performs a complex calculation that, once it meets a certain threshold (the difficulty score), allows your content to be posted.") difficulty #{comment.hashcash.split(':')[1]}
        .description(style="clear: none;") !{ markdown(comment.content || '') }
      .ui.mini.bottom.attached.buttons
        a.ui.button(href="/comments/#{comment._id}")
          i.comment.icon
          |  permalink
        a.ui.button(href="#", data-intent="save")
          i.bookmark.icon
          | save
        if (comment._parent)
          a.ui.button(href="/comments/#{comment._parent._id}")
            i.tree.icon
            | parent
        a.ui.button(href="/comments/#{comment._id}#comments")
          i.comment.icon
          | #{comment.stats.comments} comments
        a.ui.button(href="/comments/#{comment._id}#comment", data-intent="comment")
          i.reply.icon
          | reply

  .ui.cards
    for subcomment in comments
      .ui.fluid.card(style="margin-left: 2.5em;")
        .content
          - var item = subcomment;
          - var context = 'comment';
          include partials/influence
          img.right.floated.mini.ui.avatar(src="https://thecatapi.com/api/images/get?format=src&type=gif")
          .meta
            a(href="/posts/#{post._id}#comment#{subcomment._id}")
              abbr.date.tooltipped(title="#{ moment( subcomment.created ).format('MMMM Do YYYY, h:mm:ss a') }") #{ moment( subcomment.created ).fromNow() }
            | by 
            a.user(href="/people/#{subcomment._author.slug}") #{subcomment._author.username}
            if (subcomment.hashcash)
              | at 
              abbr.tooltipped(title="We require a proof-of-work for posting content on Converse.  Your computer performs a complex calculation that, once it meets a certain threshold (the difficulty score), allows your content to be posted.") difficulty #{subcomment.hashcash.split(':')[1]}
          .description(style="clear: none;") !{ markdown(subcomment.content || '') }
        .ui.mini.bottom.attached.buttons
          a.ui.button(href="/comments/#{subcomment._id}")
            i.comment.icon
            |  permalink
          a.ui.button(href="#", data-intent="save")
            i.bookmark.icon
            | save
          if (subcomment._parent)
            a.ui.button(href="/comments/#{subcomment._parent._id}")
              i.tree.icon
              | parent
          a.ui.button(href="/comments/#{subcomment._id}#comments")
            i.comment.icon
            | #{subcomment.stats.comments} comments
          a.ui.button(href="/comments/#{subcomment._id}#comment")
            i.reply.icon
            | reply

  .ui.cards
    .ui.fluid.card
      .content
        if (user)
          include forms/add-comment
        else
          include partials/authenticate
