extends ../node_modules/maki/views/layouts/default

block content
  - var post = comment._post

  .ui.cards
    .fluid.card
      .content
        img.right.floated.mini.ui.avatar(src="http://thecatapi.com/api/images/get?format=src&type=gif")
        .meta
          a(href="/posts/#{post._id}#comment#{comment._id}")
            abbr.date.tooltipped(title="#{ moment( comment.created ).format('MMMM Do YYYY, h:mm:ss a') }") #{ moment( comment.created ).fromNow() }
          | by 
          a.user(href="/people/#{comment._author.slug}") #{comment._author.username}
        .description !{ markdown(comment.content || '') }
      .extra.content
        a(href="/posts/#{post._id}#comment#{comment._id}")
          i.comment.icon
          | 123 comments
          
    for comment in comments
      .fluid.card(style="margin-left: 2.5em;")
        .content
          img.right.floated.mini.ui.avatar(src="http://thecatapi.com/api/images/get?format=src&type=gif")
          .meta
            a(href="/posts/#{post._id}#comment#{comment._id}")
              abbr.date.tooltipped(title="#{ moment( comment.created ).format('MMMM Do YYYY, h:mm:ss a') }") #{ moment( comment.created ).fromNow() }
            | by 
            a.user(href="/people/#{comment._author.slug}") #{comment._author.username}
          .description !{ markdown(comment.content || '') }
        .extra.content
          a(href="/posts/#{post._id}#comment#{comment._id}")
            i.comment.icon
            | 123 comments
          a(href="/comments/#{comment._id}#comment")
            i.reply.icon
            | reply

    .fluid.card
      .content
        if (user)
          include forms/add-comment
        else
          p For now, we require a user account to participate.
          include forms/register
