extends layouts/default

include mixins/post

block content
  .ui.cards
    +PostView(post, null, true)

    if (comments.length >= 3)
      .ui.fluid.card
        .content
          if (user)
            include forms/add-comment
          else
            p For now, we require a user account to participate.
            include forms/register

  h5 Only showing top-level comments.  To see a thread, click "reply".
  .ui.cards
    for comment in comments
      .ui.fluid.card
        .content
          - var item = comment
          - var context = 'comment'
          include partials/influence
          img.right.floated.mini.ui.avatar(src="https://thecatapi.com/api/images/get?format=src&type=gif")
          .meta
            a(href="/posts/#{post._id}#comment#{comment._id}")
              abbr.date.tooltipped(title="#{ moment( comment.created ).format('MMMM Do YYYY, h:mm:ss a') }") #{ moment( comment.created ).fromNow() }
            | by 
            a.user(href="/people/#{comment._author.slug}") #{comment._author.username}
            if (comment.hashcash)
              | at 
              abbr.tooltipped(title="We require a proof-of-work for posting content on Converse.  Your computer performs a complex calculation that, once it meets a certain threshold (the difficulty score), allows your content to be posted.") difficulty #{comment.hashcash.split(':')[1]}
          .description(style="clear: none;") !{ markdown(comment.content || '') }
        //-.extra.content
          code(style="word-wrap: break-word;") #{comment.hashcash}
        .ui.mini.bottom.attached.buttons
          a.ui.button(href="/comments/#{comment._id}")
            i.comment.icon
            |  permalink
          a.ui.button(href="#", data-intent="save")
            i.bookmark.icon
            | save
          if (comment._parent)
            a.ui.button(href="/comments/#{comment._parent}")
              i.tree.icon
              | parent
          a.ui.button(href="/comments/#{comment._id}#comments")
            i.comment.icon
            |  #{comment.stats.comments} comments
          a.ui.button(href="/comments/#{comment._id}#comment")
            i.reply.icon
            | reply

  .ui.cards
    .ui.fluid.card
      .content
        if (user)
          include forms/add-comment
        else
          include partials/authenticate
