extends layouts/default

include mixins/post

block content
  .ui.cards
    +PostView(post)

    if (comments.length >= 3)
      .ui.fluid.card
        .content
          if (user)
            include forms/add-comment
          else
            p For now, we require a user account to participate.
            include forms/register

  h5 Only showing top-level comments.  To see a thread, click "reply".
  .ui.cards
    for comment in comments
      .ui.fluid.card
        .content
          include partials/influence
          img.right.floated.mini.ui.avatar(src="http://thecatapi.com/api/images/get?format=src&type=gif")
          .meta
            a(href="/posts/#{post._id}#comment#{comment._id}")
              abbr.date.tooltipped(title="#{ moment( comment.created ).format('MMMM Do YYYY, h:mm:ss a') }") #{ moment( comment.created ).fromNow() }
            | by 
            a.user(href="/people/#{comment._author.slug}") #{comment._author.username}
          .description(display="clear: none;") !{ markdown(comment.content || '') }
        .extra.content
          a(href="/posts/#{post._id}#comment#{comment._id}")
            i.comment.icon
            |  #{comment.stats.comments} comments
          a(href="/comments/#{comment._id}#comment")
            i.reply.icon
            | reply

  .ui.cards
    .ui.fluid.card
      .content
        if (user)
          include forms/add-comment
        else
          p For now, we require a user account to participate.
          include forms/register
