extends ../node_modules/maki/views/layouts/default

block content
  style.
    .ui.cards .card {
      width: 100%;
    }

  .ui.cards
    for post in posts
      .card
        .content
          img.right.floated.mini.ui.avatar(src="http://thecatapi.com/api/images/get?format=src&type=gif")
          .header
            a(href="/posts/#{post._id}") #{post.name}
          .meta
            a(href="/posts/#{post._id}")
              abbr.date.tooltipped(title="#{ moment( post.created ).format('MMMM Do YYYY, h:mm:ss a') }") #{ moment( post.created ).fromNow() }
            | by 
            a.user(href="/people/#{post._author.slug}") #{post._author.username}
          .description !{ markdown(post.description) }
        .extra.content
          a(href="/posts/#{post._id}#comments")
            i.comment.icon
            | 443 comments
          a(href="/posts/#{post._id}#comment")
            i.reply.icon
            | reply
          

    .card
      .content
        if (user)
          h3 New Post
          form.ui.form(action="/posts", method="post")
            input(type="hidden", name="_author", value="#{user._id}")
            .field
              label Title
              input(type="text", name="name")
            .field
              label Content
              textarea(name="description")
            .field
              label Link
              input(type="text", name="link")
            .right.floated
              button.ui.submit.button Create Post &raquo;
