extends ../node_modules/maki/views/layouts/default

block content  
  style.
    .ui.cards .card {
      width: 100%;
    }

  .ui.cards
    .card
      .content
        img.right.floated.mini.ui.avatar(src="http://thecatapi.com/api/images/get?format=src&type=gif")
        .header
          a(href="/posts/#{post._id}") #{post.name}
        .meta
          a(href="/posts/#{post._id}")
            abbr.date.tooltipped(title="#{ moment( post.created ).format('MMMM Do YYYY, h:mm:ss a') }") #{ moment( post.created ).fromNow() }
          | by 
          a.user(href="/people/#{post._author.slug}") #{post._author.username}
        .description !{ markdown(post.description) }
      .extra.content
        a(href="/posts/#{post._id}#comments")
          i.comment.icon
          | #{comments.length} comments
          
    if (comments.length >= 3)
      .card
        .content
          if (user)
            include forms/add-comment
          else
            p For now, we require a user account to participate.
            include forms/register

    for comment in comments
      .card
        .content
          img.right.floated.mini.ui.avatar(src="http://thecatapi.com/api/images/get?format=src&type=gif")
          .meta
            a(href="/posts/#{post._id}#comment#{comment._id}")
              abbr.date.tooltipped(title="#{ moment( comment.created ).format('MMMM Do YYYY, h:mm:ss a') }") #{ moment( comment.created ).fromNow() }
            | by 
            a.user(href="/people/#{comment._author.slug}") #{comment._author.username}
          .description !{ markdown(comment.content || '') }
        .extra.content
          a(href="/posts/#{post._id}#comment#{comment._id}")
            i.comment.icon
            | 123 comments

    .card
      .content
        if (user)
          include forms/add-comment
        else
          p For now, we require a user account to participate.
          include forms/register
