<div class='media-left'>
  <button class='btn-success btn-xs btn-block up' {{action 'up'}}>
    <span class='glyphicon glyphicon-arrow-up'></span>
  </button>
  <button class='btn-danger btn-xs btn-block down' {{action 'down'}}>
    <span class='glyphicon glyphicon-arrow-down'></span>
  </button>
</div>
<div class='media-body'>
  <h4 class='media-heading'>
    {{#link-to 'collective' thing.id}}{{thing.title}}{{/link-to}}
  </h4>
  <div class='meta'>
    {{#link-to 'collective' thing.id class='label label-success balance' title=thing.id}}
      {{thing.balance}} bits{{/link-to}}
    <span class='label label-primary type'>{{thing.type}}</span>
    <span class='label label-info age'>{{moment-from-now thing.created 'X'}}</span>
  </div>
</div>
