li.media
  //-if (example.image)
    a.pull-left(href="#{example.uri}")
      img.media-object(src="#{example.image}")
  .media-body
    h2.media-heading
      a(href="#{example.uri}") #{example.name}
    p #{example.description}
