li.list-group-item(data-post-id="#{post._id}")

  .pull-left.pad-right
    img.size-5.rounded(src="#{post._author.avatar}")

  h5
    abbr.timestamp(title="#{post.created}") #{moment(post.created).fromNow()}
    |  by 
    - var person = post._author
    include person-slug
  p !{markdown(post.content)}
