li.list-group-item(data-topic-id="#{topic._id}", data-topic-slug="#{topic.slug}")
  .pull-right
    mixin timestamp(topic.created)

  h4
    a(href="/forums/#{forum.slug}/topics/#{topic.slug}") #{topic.name}
  p
    | by 
    - var person = topic._author
    include person-slug
