mixin PostView(post, maxWords)
  if (!maxWords)
    - maxWords = 0;

  .ui.fluid.card
    .content
      .left.floated(style="width: 3em; text-align: center;")
        .ui.mini.statistic
          a.label
            i.chevron.up.icon
          .value(style="font-size: 1em;") #{post.score || 0}
          a.label
            i.chevron.down.icon
      img.right.floated.mini.ui.avatar(src="https://thecatapi.com/api/images/get?format=src&type=gif")
      .header
        a(href="/posts/#{post._id}") #{post.name}
      .meta
        a(href="/posts/#{post._id}")
          abbr.date.tooltipped(title="#{ moment( post.created ).format('MMMM Do YYYY, h:mm:ss a') }") #{ moment( post.created ).fromNow() }
        | by 
        a.user(href="/people/#{post._author.slug}") #{post._author.username}
      if (!~maxWords)
        .description(style="clear: none;") #{ post.description.split('\n')[0].split(' ').slice(0, maxWords).join(' ') }&hellip;
          a(href="/posts/#{post._id}") Read More &raquo;
      else
        .description(style="clear: none;") !{ markdown(post.description) }
          
    .extra.content
      a(href="/posts/#{post._id}#comments")
        i.comment.icon
        | #{post.stats.comments || 0} comments
      a(href="/posts/#{post._id}#comment")
        i.reply.icon
        | reply
