<div class='row'>
  <div class='col-md-8'>{{outlet}}</div>
  <div class='col-md-4'>
    {{component model.type thing=model}}
    <h3>Includes</h3>
    {{#each model.listings.include as |listing|}}
      {{component listing.type thing=listing}}
    {{/each}}
    <h3>Excludes</h3>
    {{#each model.listings.exclude as |listing|}}
      {{component listing.type thing=listing}}
    {{/each}}
    <hr>
    <h4>Collective Address</h4>
    {{qr-code value=model.id}}
  </div>
</div>
