<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">Datt passhrase creation</h4>
    </div>
    <div class="modal-body">
    {{#if address}}
      {{#if balance}}
        <h2>Received {{balance}} BTC</h2>
        <hr>
        <p>Sent {{voteBtc}} BTC for {{link-to thing.title 'collective.thing' thing.id}}</p>
        <h3>Thanks for voting!</h3>
      {{else}}
        {{input value=address readonly=true class='form-control'}}
        <div class='row'>
          <div class='col-md-6'>
              {{qr-code value=address}}
          </div>
          <div class='col-md-6'>
            <p>
              Send at least {{minBtc}} BTC here and we'll use a portion to vote on this
              content and hold the rest for further voting
            </p><p>
              BTC fuels the Datt network and is used for voting and provides incentives
              for content producers
            </p>
            <button type='button' class='btn btn-primary' {{action 'receivedBtc'}}>Ok, I sent it</button>
          </div>
        </div>
      {{/if}}
    {{else}}
      <p>Datt lets you vote like you mean it, with micropayments!</p>
      <hr>
      <fieldset>
        <div class='form-group'>
          <label>Choose a passphrase</label>
          {{input value=passPhrase type=passType class='form-control'}}
        </div>
        <div class='form-group'>
          <label>Repeat passphrase</label>
          {{input value=passPhraseRepeat type=passType class='form-control'}}
        </div>
        <div class='form-group'>
          <label>
            {{input checked=showPass type='checkbox'}}
            Show pass pass phrase
          </label>
        </div>
      </fieldset>
      <p>
        It looks like this is your first time voting, you need to create a passphrase that will
        secure access to your content, identities and funds.
      </p>
      <p>It is <strong>very</strong> important that you pick a long, unique pass phrase.</p>
      <p>We probably need more descriptive language here</p>
    {{/if}}
    </div>
    <div class="modal-footer">
      {{#if balance}}
        <button type="button" class="btn btn-primary" data-dismiss="modal" {{action 'closeModal'}}>Ok</button>
      {{else}}
        <button type="button" class="btn btn-default" data-dismiss="modal" {{action 'closeModal'}}>Cancel</button>
      {{/if}}
      {{!--<button type="button" class="btn btn-primary" {{action 'ok'}}>OK</button>--}}
    </div>
  </div>
</div>
